{% extends "main.html" %}
{% block content%}

<div class="container-fluid px-5 py-3">
	<div class="row">
		<div class="col-md-8">
	<p class="h2"> About Me</p>

<p class="p-1">	<a href="https://github.com/kbetts83"> 
	<span class="iconify text-nowrap" data-icon="akar-icons:github-fill" style="color: #333;" data-width="40" data-height="40"></span>  Github </a>

<p class="p-1">	<a href="https://docs.google.com/document/d/1630Bu81sQcNyEwdg1NxSUYJdZeO1QQ5kc8vllXczZnw/edit?usp=sharing"> 
	<span class="iconify text-nowrap" data-icon="akar-icons:link-out" style="color: #333;" data-width="40" data-height="40"></span>  Resume </a>


	<p>
	I was that kid in the 7th grade who learned HTML for fun. I was also that kid who would ignore assignments and work on his own projects in 11th grade Computer Science class.</p>

	<p>I’ve always been a deeply curious person and am excited to jump into projects where I can learn about the nuts and bolts of different subjects. That curiosity became electric when I was in an introductory Computer Science course in High School and ran that first “Hello World” program. I remember being so engaged and excited learning how to create my own programs.</p>

	<p>It wasn’t until August of 2019 that I really started to focus and dedicate myself to studying software development and commit to becoming a Jr. Software Developer. On August 12th I made an excel spreadsheet to track the daily hours I put into learning how to code. I didn’t always hit my two hour a day goal (1.66 hours per day isn’t bad when there’s a newborn baby in your life), but I always found even a few minutes to learn even if it was just sitting down to read about data structures and algorithms. </p>

	<p>Right now I’m focusing on Python and MySQL to build my own apps and contribute to open source projects and gaining Codemy Google Certifications. </p>


		</div>
		<div class="col-md-4">

		</div>
	</div>
</div>






{% endblock %}
