<h2> Accounts </h2>
<h5> You have contacted 20% of your sold accounts this week </h5>

<table class="table table-sm table-bordered min-vh-20">
    <thead>
    <tr>
      <th scope="col">Acct. #</th>
      <th scope="col">Company Name</th>
      <th scope="col">Last Contacted</th>
      <th scope="col">Revenue To date</th>
    </tr>
  <tbody>
    <tr>
      <td>10902</td>
      <td>Steve's Pancake House</td>
      <td>Sept 3, 2022</td>
      <td>$3000.00</td>
    </tr>
     <tr>
      <td>5443</td>
      <td>Steve's Potato House</td>
      <td>Sept 3, 2022</td>
      <td>$100.00</td>
    </tr>
        <tr>
      <td>039303</td>
      <td>Escape Room 2: Escape Harder</td>
      <td>Sept 3, 2022</td>
      <td>$300.00</td>
    </tr>
        <tr>
      <td>837383</td>
      <td>Clam Chowder Beverages</td>
      <td>Sept 3, 2022</td>
      <td>$400.00</td>
    </tr>
        <tr>
      <td>83738</td>
      <td>Puppys R' Us</td>
      <td>Sept 3, 2022</td>
      <td>$60.00</td>
    </tr>
        <tr>
      <td>383939</td>
      <td>The Tool Shed </td>
      <td>Sept 3, 2022</td>
      <td>$40000.00</td>
    </tr>
        <tr>
      <td>099</td>
      <td>Sweet Jim's BBQ Sauce</td>
      <td>Sept 3, 2022</td>
      <td>$80000.00</td>
    </tr>    <tr>
      <td>8838</td>
      <td>Aunt Cathy's Pancake</td>
      <td>Sept 3, 2022</td>
      <td>$20.00</td>
    </tr>
  </tbody>

  </thead></table>

  <table class="table table-sm table-bordered min-vh-20">
    <thead>
    <tr>
      <th scope="col">Last Contact Date</th>
      <th scope="col">Rep</th>
      <th scope="col">Note</th>
    </tr>
  <tbody>
    <tr>
      <td>Jan 1st 1999</td>
      <td>Steve Johansen</td>
      <td>Left VM</td>
    </tr>
        <tr>
      <td>Jan 1st 1999</td>
      <td>Steve Johansen</td>
      <td>Left VM</td>
    </tr>
        <tr>
      <td>Jan 1st 1999</td>
      <td>Steve Johansen</td>
      <td>Left VM</td>
    </tr>
        <tr>
      <td>Jan 1st 1999</td>
      <td>Steve Johansen</td>
      <td>Left VM</td>
    </tr>
        <tr>
      <td>Jan 1st 1999</td>
      <td>Steve Johansen</td>
      <td>Left VM</td>
    </tr>
   
  </tbody>

  </thead></table>